<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div style="font-size: x-large;" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a style="margin-right: 100px; margin-left: 100px;" class="nav-link" aria-current="page" href="#">IPOs</a>
            </li>
            <li class="nav-item">
                <a style="margin-right: 100px;" routerLink="/comparecompany" class="nav-link">Compare Company</a>
            </li>
            <li class="nav-item">
                <a style="margin-right: 100px;" class="nav-link" href="#">Compare Sectors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Others</a>
            </li>          
        </ul>        
    </div>
    <button class="btn btn-danger" style="float: right;" (click)="onLogout()"> Logout </button>
</nav>
<router-outlet></router-outlet>